/*
  ========================================
  CSS Resets
  ========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;	
}
body {
	line-height: 1;
	color: #888;
	font: 300 16px/22px "Montserrat",  "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  headers
  ========================================
*/

h1 {
	font-size: 5em;
	line-height: 44px;
}

h3 {
	font-size: 2.5em;
	line-height: 44px;	
}

/*
  ========================================
  Container
  ========================================
*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: -webkit-linear-gradient(to right bottom, #D9EF68, #F7BA30);
	background:    -moz-linear-gradient(to right bottom, #D9EF68, #F7BA30);
	background:         linear-gradient(to right bottom, #D9EF68, #F7BA30);
}

.container {
	position: relative;
	margin: 0.5% auto;
	max-width: 1200px;
	height: 40em;
	padding-left: 30px;
	padding-right: 30px;
}

.display,
.input {
	font-family:'Indie Flower', cursive;
	color: black;
	word-wrap: break-word;
	line-height: 2.8em;
	overflow-y:auto;
	-webkit-transition: 1s ease-in-out;
	   -moz-transition: 1s ease-in-out;
	        transition: 1s ease-in-out;
}

.display {
	display: inline-block;
	position: absolute;
	background: -webkit-linear-gradient(to bottom, #FE90A3, #FC5874);
	background:    -moz-linear-gradient(to bottom, #FE90A3, #FC5874);
	background:         linear-gradient(to bottom, #FE90A3, #FC5874);
	border-radius: 2em 0;
	top:5%;
	width:35em;
	height: 90%;
}

.display > h1,
.input > h3 {
	padding-top: 4%;
	text-align: center;
}

.display > h1 {
	margin-bottom: 10%;
	cursor: pointer;
}

.input {
	display: inline-block;
	position: absolute;
	background: -webkit-linear-gradient(to bottom, #ADE04D, #84C809);
	background:    -moz-linear-gradient(to bottom, #ADE04D, #84C809);
	background:         linear-gradient(to bottom, #ADE04D, #84C809);
	width:30em;
	left:55%;
	top:18%;
	height: 58%;
	border-radius: 0.8em;
}

#textArea:focus,
.itemContainer .listItems {
	outline: 0px solid transparent;
}

#textArea {
	margin: 1% 6%;
	padding: 5%;
	height: 60%;
	font-size: 30px;
}

.itemContainer {
	padding: 2%;
	border-bottom: 2px solid grey;
	overflow: hidden;
}

.itemContainer:hover {
	background-color: #FF98A9;
}

.listItems {
	float:left;
	font-size: 2.8em;
	padding: 1%;
	width: 80%;
	cursor: default;
}

.remove,
.edit{
	display: inline;
	margin-right:3%; 
	cursor: pointer;
}

.remove > img,
.edit > img {
	width: 6%;
}

.remove:hover,
.edit:hover{
	display: inline;
	margin-right:3%; 
	cursor: pointer;
}

.hideElement {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.displayRight {
	-webkit-transform: translateX(50%);
	   -moz-transform: translateX(50%);
	        transform: translateX(50%);
}

.displayLeft{
	-webkit-transform: translateX(-5%);
	   -moz-transform: translateX(-5%);
	        transform: translateX(-5%);
}

/*
  ========================================
  Styling Scrollbar
  ========================================
*/

.display::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.display::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.display::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
}




