html,body {
	width: 100%;
	height: 100%;
}

#container {
	display: block;
	background-color: #FFC200;
	margin: 0 auto;
	width: 40%;
	height: 60%;
	text-align: justify;
}

.center {
	text-align: center;
	text-decoration: underline;
}

#add:hover,
#remove:hover {
	cursor: pointer;
}

#add,#remove {
	display: inline-block;
	position: relative;
	width: 5%;
	height: 5%;
}

#add {
	left: 40%;
	background-color: #28FF0D;
}

#remove {
	left: 50%;
	background-color: #F0261C;
}